footer {
    text-align: center;
}

.grupoDePie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grupoDePieItem {
    width:1200px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tituloDePie {
    font-size: 18px;
    color: #ff006f;
}

.textoDePie {
    color: #ff0090;
    margin: 5px;
}
